## Работа с датой и временем

In [51]:
import pandas as pd

In [52]:
data = pd.read_csv('visits.csv', sep='\t')

In [53]:
data['time'] = pd.to_datetime(data['date_time'], format = '%Y-%m-%dT%H:%M:%S')

## Для работы с полученными данными в виде даты используется атрибут dt

### Чтобы округлить время, применяют метод dt.round(). В качестве параметра ему передают строку с шагом округления в часах, днях, минутах или секундах:
'D' — day (от англ. «день»)
'H' — hour (от англ. «час»)
'min' или 'T' — minute (от англ. «минута»)
'S' — second (от англ. «секунда»)

### Чтобы быть уверенными в том, что время будет округлено к бóльшему значению, обращаются к методу dt.ceil() (от англ. ceiling — «потолок»). К меньшему значению, «вниз», округляют методом dt.floor()

In [54]:
data['time'] = data['time'].dt.floor('1H')
data['time'].head()

0   2018-04-06 16:00:00
1   2018-04-04 17:00:00
2   2018-04-03 17:00:00
3   2018-04-07 07:00:00
4   2018-04-04 13:00:00
Name: time, dtype: datetime64[ns]

In [55]:
data['weekday'] = data['time'].dt.weekday
data.head()

         date_time        id  time_spent     name                time  weekday
0  20180406T165358  76144fb2        98.0  Василек 2018-04-06 16:00:00        4
1  20180404T173913  76144fb2        15.0  Василек 2018-04-04 17:00:00        2
2  20180403T172824  76144fb2       220.0  Василек 2018-04-03 17:00:00        1
3  20180407T070441  76144fb2        19.0  Василек 2018-04-07 07:00:00        5
4  20180404T132049  76144fb2        14.0  Василек 2018-04-04 13:00:00        2

## Чтобы прибавить или отнять время: pd.Timedelta(hours=9)

In [56]:
data.loc[0:3, 'time'] = data['time'] + pd.Timedelta(hours=2)
data.head()

         date_time        id  time_spent     name                time  weekday
0  20180406T165358  76144fb2        98.0  Василек 2018-04-06 18:00:00        4
1  20180404T173913  76144fb2        15.0  Василек 2018-04-04 19:00:00        2
2  20180403T172824  76144fb2       220.0  Василек 2018-04-03 19:00:00        1
3  20180407T070441  76144fb2        19.0  Василек 2018-04-07 09:00:00        5
4  20180404T132049  76144fb2        14.0  Василек 2018-04-04 13:00:00        2