## Срезы строк

### срез строк можно сделать, как передачу массива с булевыми значениями в df

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'name' : ['Kola', 'Tola', 'Rola'], 'age' : [12, 34, 5]})

In [4]:
bool_val = [True, False, True]
df[bool_val]

   name  age
0  Kola   12
2  Rola    5

### Так же можно делать срезы методом query()

In [5]:
df = pd.DataFrame(
    {
        'From': [
            'Moscow',
            'Moscow',
            'St. Petersburg',
            'St. Petersburg',
            'St. Petersburg',
        ],
        'To': ['Rome', 'Rome', 'Rome', 'Barcelona', 'Barcelona'],
        'Is_Direct': [False, True, False, False, True],
        'Has_luggage': [True, False, False, True, False],
        'Price': [21032, 19250, 19301, 20168, 31425],
        'Date_From': [
            '01.07.19',
            '01.07.19',
            '04.07.2019',
            '03.07.2019',
            '05.07.2019',
        ],
        'Date_To': [
            '07.07.19',
            '07.07.19',
            '10.07.2019',
            '09.07.2019',
            '11.07.2019',
        ],
        'Airline': ['Belavia', 'S7', 'Finnair', 'Swiss', 'Rossiya'],
        'Travel_time_from': [995, 230, 605, 365, 255],
        'Travel_time_to': [350, 225, 720, 355, 250],
    }
)
print(df.query('To == "Barcelona"'))

             From         To  Is_Direct  Has_luggage  Price   Date_From  \
3  St. Petersburg  Barcelona      False         True  20168  03.07.2019
4  St. Petersburg  Barcelona       True        False  31425  05.07.2019

      Date_To  Airline  Travel_time_from  Travel_time_to
3  09.07.2019    Swiss               365             355
4  11.07.2019  Rossiya               255             250

In [6]:
print(df.query('Is_Direct == True or Has_luggage == True'))

             From         To  Is_Direct  Has_luggage  Price   Date_From  \
0          Moscow       Rome      False         True  21032    01.07.19
1          Moscow       Rome       True        False  19250    01.07.19
3  St. Petersburg  Barcelona      False         True  20168  03.07.2019
4  St. Petersburg  Barcelona       True        False  31425  05.07.2019

      Date_To  Airline  Travel_time_from  Travel_time_to
0    07.07.19  Belavia               995             350
1    07.07.19       S7               230             225
3  09.07.2019    Swiss               365             355
4  11.07.2019  Rossiya               255             250

In [8]:
df = pd.DataFrame(
    {
        'From': [
            'Moscow',
            'Moscow',
            'St. Petersburg',
            'St. Petersburg',
            'St. Petersburg',
        ],
        'To': ['Rome', 'Rome', 'Rome', 'Barcelona', 'Barcelona'],
        'Is_Direct': [False, True, False, False, True],
        'Has_luggage': [True, False, False, True, False],
        'Price': [21032, 19250, 19301, 20168, 31425],
        'Date_From': [
            '01.07.19',
            '01.07.19',
            '04.07.2019',
            '03.07.2019',
            '05.07.2019',
        ],
        'Date_To': [
            '07.07.19',
            '07.07.19',
            '10.07.2019',
            '09.07.2019',
            '11.07.2019',
        ],
        'Airline': ['Belavia', 'S7', 'Finnair', 'Swiss', 'Rossiya'],
        'Travel_time_from': [995, 230, 605, 365, 255],
        'Travel_time_to': [350, 225, 720, 355, 250],
    }
)

In [21]:
df.query('Has_luggage == False and Airline not in ("S7", "Rossiya")')

,From,To,Is_Direct,Has_luggage,Price,Date_From,Date_To,Airline,Travel_time_from,Travel_time_to
2,St. Petersburg,Rome,False,False,19301,04.07.2019,10.07.2019,Finnair,605,720

In [22]:
max_time = 300
df.query('Travel_time_from < @max_time and Airline in ("Belavia", "S7", "Rossiya")')

,From,To,Is_Direct,Has_luggage,Price,Date_From,Date_To,Airline,Travel_time_from,Travel_time_to
1,Moscow,Rome,True,False,19250,01.07.19,07.07.19,S7,230,225
4,St. Petersburg,Barcelona,True,False,31425,05.07.2019,11.07.2019,Rossiya,255,250

In [37]:
df.query('Price > Price.mean()')

,From,To,Is_Direct,Has_luggage,Price,Date_From,Date_To,Airline,Travel_time_from,Travel_time_to
4,St. Petersburg,Barcelona,True,False,31425,05.07.2019,11.07.2019,Rossiya,255,250