<div style="border:solid green 2px; padding: 20px">
<b>–ï–≤–≥–µ–Ω–∏–π, –ø—Ä–∏–≤–µ—Ç!</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ï–≤–≥–µ–Ω–∏–π –î–∞—â–µ–Ω–∫–æ, –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª üòä –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ —É–¥–æ–±–Ω–æ - –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ "–≤—ã".¬†

–ú–æ—è –æ—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å ‚Äî –Ω–µ —É–∫–∞–∑–∞—Ç—å –Ω–∞ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–µ —Ç–æ–±–æ—é –æ—à–∏–±–∫–∏, –∞ –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –æ–ø—ã—Ç–æ–º –∏ –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å—Ç–∞—Ç—å –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–º –¥–∞–Ω–Ω—ã—Ö. –¢—ã —É–∂–µ –ø—Ä–æ–¥–µ–ª–∞–ª –±–æ–ª—å—à—É—é —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º, –Ω–æ –¥–∞–≤–∞–π —Å–¥–µ–ª–∞–µ–º –µ–≥–æ –µ—â–µ –ª—É—á—à–µ. –ù–∏–∂–µ —Ç—ã –Ω–∞–π–¥–µ—à—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ - –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –∏—Ö. –Ø –±—É–¥—É –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ü–≤–µ—Ç–æ–≤—É—é —Ä–∞–∑–º–µ—Ç–∫—É:

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã —Å–∞–º—ã–µ –≤–∞–∂–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è. –ë–µ–∑ –∏—Ö –æ—Ç—Ä–∞–±–æ—Ç–∫–∏ –ø—Ä–æ–µ–∫—Ç –Ω–µ –±—É–¥–µ—Ç –ø—Ä–∏–Ω—è—Ç. </div>

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã –Ω–µ–±–æ–ª—å—à–∏–µ –∑–∞–º–µ—á–∞–Ω–∏—è. –û–¥–Ω–∞-–¥–≤–∞ —Ç–∞–∫–∏—Ö –∑–∞–º–µ—á–∞–Ω–∏—è –≤ –ø—Ä–æ–µ–∫—Ç–µ –¥–æ–ø—É—Å—Ç–∏–º—ã, –Ω–æ –µ—Å–ª–∏ –∏—Ö –±—É–¥–µ—Ç –±–æ–ª—å—à–µ - —Ç–µ–±–µ –±—É–¥–µ—Ç –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤–Ω–µ—Å—Ç–∏ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è. –≠—Ç–æ –∫–∞–∫ —Ç–µ—Å—Ç–æ–≤–æ–µ –∑–∞–¥–∞–Ω–∏–µ –ø—Ä–∏ –ø—Ä–∏–µ–º–µ –Ω–∞ —Ä–∞–±–æ—Ç—É: –æ—á–µ–Ω—å –º–Ω–æ–≥–æ –º–µ–ª–∫–∏—Ö –æ—à–∏–±–æ–∫ –º–æ–≥—É—Ç —Å—Ç–∞—Ç—å –ø—Ä–∏—á–∏–Ω–æ–π –æ—Ç–∫–∞–∑–∞ –∫–∞–Ω–¥–∏–¥–∞—Ç—É. 

</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –¢–∞–∫ —è –≤—ã–¥–µ–ª—è—é –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏.</div>

–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –∏–ª–∏ –æ—Ç–≤–µ—á–∞–µ—à—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω–∞—Ç—Ä–∏ ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º. –ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:
<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>

–í—Å—ë —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–µ–µ.

# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –Ω–∞–¥—ë–∂–Ω–æ—Å—Ç–∏ –∑–∞—ë–º—â–∏–∫–æ–≤

–ó–∞–∫–∞–∑—á–∏–∫ ‚Äî –∫—Ä–µ–¥–∏—Ç–Ω—ã–π –æ—Ç–¥–µ–ª –±–∞–Ω–∫–∞. –ù—É–∂–Ω–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è, –≤–ª–∏—è–µ—Ç –ª–∏ —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –∫–ª–∏–µ–Ω—Ç–∞ –Ω–∞ —Ñ–∞–∫—Ç –ø–æ–≥–∞—à–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –í—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç –±–∞–Ω–∫–∞ ‚Äî —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤.

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –ø—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –º–æ–¥–µ–ª–∏ **–∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞** ‚Äî —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã, –∫–æ—Ç–æ—Ä–∞—è –æ—Ü–µ–Ω–∏–≤–∞–µ—Ç —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–≥–æ –∑–∞—ë–º—â–∏–∫–∞ –≤–µ—Ä–Ω—É—Ç—å –∫—Ä–µ–¥–∏—Ç –±–∞–Ω–∫—É.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ó–¥–æ—Ä–æ–≤–æ, –∫–æ–≥–¥–∞ –µ—Å—Ç—å –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ –≤ —Å–∞–º –ø—Ä–æ–µ–∫—Ç, –∫–∞–∂–¥—ã–π —Å–º–æ–∂–µ—Ç –±—ã—Å—Ç—Ä–µ–µ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è —Å —Ç–µ–º –æ —á–µ–º —Å–∞–º –ø—Ä–æ–µ–∫—Ç. –ú–æ–∂–Ω–æ —Ç–∞–∫–∂–µ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫—Ä–∞—Ç–∫–∏–π –ø–ª–∞–Ω –ø—Ä–æ–≤–µ–¥–µ–Ω–∏—è —Å–∞–º–æ–π —Ä–∞–±–æ—Ç—ã –∏ –æ–ø–∏—Å–∞–Ω–∏–µ –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤. 

</div>

## –®–∞–≥ 1. –û—Ç–∫—Ä–æ–π—Ç–µ —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ –∏–∑—É—á–∏—Ç–µ –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é

### –û—Ç–∫—Ä–æ–µ–º —Ñ–∞–π–ª –º–µ—Ç–æ–¥–æ–º info() –ø—Ä–æ–≤–µ—Ä–∏–º —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º —Å–∫–æ–ª—å–∫–æ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤–∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ. –î–∞–ª—å—à–µ —Ä–∞—Å—Å–º–æ—Ç—Ä–∏–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ, –∏ —Å—Ä–∞–∑—É –ø–æ–ø—ã—Ç–∞–µ–º—Å—è –Ω–∞–π—Ç–∏ –Ω–µ—Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è.

In [121]:
import pandas as pd
from IPython.display import display
df = pd.read_csv('data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [122]:
df.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

### –ü—Ä–æ—Å–º–æ—Ç—Ä–∏–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º –∏—Ö

In [123]:
for col in df.columns:
    display(df[col].value_counts())

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

-986.927316     1
-7026.359174    1
-4236.274243    1
-6620.396473    1
-1238.560080    1
               ..
-2849.351119    1
-5619.328204    1
-448.829898     1
-1687.038672    1
-582.538413     1
Name: days_employed, Length: 19351, dtype: int64

35    617
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
43    513
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
0     101
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

—Å—Ä–µ–¥–Ω–µ–µ                13750
–≤—ã—Å—à–µ–µ                  4718
–°–†–ï–î–ù–ï–ï                  772
–°—Ä–µ–¥–Ω–µ–µ                  711
–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ      668
–í–´–°–®–ï–ï                   274
–í—ã—Å—à–µ–µ                   268
–Ω–∞—á–∞–ª—å–Ω–æ–µ                250
–ù–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ       47
–ù–ï–û–ö–û–ù–ß–ï–ù–ù–û–ï –í–´–°–®–ï–ï       29
–ù–ê–ß–ê–õ–¨–ù–û–ï                 17
–ù–∞—á–∞–ª—å–Ω–æ–µ                 15
—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             4
–£–ß–ï–ù–ê–Ø –°–¢–ï–ü–ï–ù–¨             1
–£—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             1
Name: education, dtype: int64

1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64

–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º          12380
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫          4177
–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º     2813
–≤ —Ä–∞–∑–≤–æ–¥–µ                 1195
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞             960
Name: family_status, dtype: int64

0    12380
1     4177
4     2813
3     1195
2      960
Name: family_status_id, dtype: int64

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

—Å–æ—Ç—Ä—É–¥–Ω–∏–∫          11119
–∫–æ–º–ø–∞–Ω—å–æ–Ω           5085
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä           3856
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π         1459
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å        2
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π            2
—Å—Ç—É–¥–µ–Ω—Ç                1
–≤ –¥–µ–∫—Ä–µ—Ç–µ              1
Name: income_type, dtype: int64

0    19784
1     1741
Name: debt, dtype: int64

112874.418757    1
133912.272223    1
182036.676828    1
122421.963500    1
198271.837248    1
                ..
133299.194693    1
115080.782380    1
84896.781597     1
153838.839212    1
150014.128510    1
Name: total_income, Length: 19351, dtype: int64

—Å–≤–∞–¥—å–±–∞                                   797
–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã                     777
—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É                           774
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é                  676
–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏         664
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏                   653
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º                         653
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é     651
–∂–∏–ª—å–µ                                     647
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è                             647
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏                   641
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏    635
–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å                              634
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é           630
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏          626
–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                      624
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                620
–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è                      620
—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é                              612
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                607
–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è              505
–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º              496
–∞–≤—Ç–æ–º–æ–±–∏–ª—å                                495
—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º          489
—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å                           480
–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è        479
–∞–≤—Ç–æ–º–æ–±–∏–ª–∏                                478
–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è                     472
–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è                   462
–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                462
—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º                      455
–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                        453
–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è     447
–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                               447
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è                     443
–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                    436
–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è             426
–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º                     412
Name: purpose, dtype: int64

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–û—Ç–ª–∏—á–Ω—ã–π —Å–ø–æ—Å–æ–±, –±—ã—Å—Ç—Ä–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –Ω–∞—à–∏ –¥–∞–Ω–Ω—ã–µ.

</div>

In [124]:
print(df.loc[(df['dob_years'] > 100) | (df['dob_years'] <= 0)]['dob_years'].count())

101

In [125]:
print(df.loc[df['gender'] == 'XNA'])

       children  days_employed  dob_years            education  education_id  \
10701         0   -2358.600502         24  –Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ             2

          family_status  family_status_id gender income_type  debt  \
10701  –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫                 1    XNA   –∫–æ–º–ø–∞–Ω—å–æ–Ω     0

        total_income               purpose
10701  203905.157261  –ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

In [126]:
print(df.loc[df['total_income'] < 0])

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

### –ü–æ—Å–ª–µ –ø—Ä–æ—Å–º–æ—Ç—Ä–∞ –¥–∞–Ω–Ω—ã—Ö –±—ã–ª–∏ –≤—ã—è–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–µ –ø—Ä–æ–±–ª–µ–º—ã:
### 1) –≤ —Å—Ç–æ–ª–±—Ü–µ 'children' –µ—Å—Ç—å –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–µ —á–∏—Å–ª–æ –¥–µ—Ç–µ–π, –≤–æ–∑–º–æ–∂–Ω–æ –±—ã–ª–æ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–æ —Ç–∏—Ä–µ –ø–µ—Ä–µ–¥ —á–∏—Å–ª–æ–º, –Ω–æ —Å–∏—Å—Ç–µ–º–∞ —Å—á–∏—Ç–∞–ª–∞ —ç—Ç–æ, –∫–∞–∫ –∑–Ω–∞–∫ –º–∏–Ω—É—Å
### 2) –í —Å—Ç–æ–ª–±–µ 'days_employed' –µ—Å—Ç—å –º–Ω–æ–∂–µ—Å—Ç–≤–æ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π(15906), –∫–æ—Ç–æ—Ä—ã–µ –∫ —Ç–æ–º—É-–∂–µ –¥—Ä–æ–±–Ω—ã–µ, –≤–æ–∑–º–æ–∂–Ω–æ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è - —ç—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ —Ç–∏—Ä–µ –ø–µ—Ä–µ–¥ —á–∏—Å–ª–æ–º, —Ç–∞–∫ –∂–µ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –Ω–∞–¥–æ –±—É–¥–µ—Ç —É–±—Ä–∞—Ç—å –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–µ—Ä–µ–∞–ª—å–Ω–æ –æ–≥—Ä–æ–º–Ω–æ–≥–æ —Ç—Ä—É–¥–æ–≤–æ–≥–æ —Å—Ç–∞–∂–∞, –∏ –∑–∞–º–µ–Ω–∏—Ç—å –µ–≥–æ –Ω–∞ –º–µ–¥–∏–∞–Ω—É –ø–æ —Å—Ç–æ–ª–±—Ü—É. –ù—É–ª–µ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –±—É–¥—É—Ç –∑–∞–º–µ–Ω–µ–Ω—ã –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ
### 3) –í —Å—Ç–æ–ª–±—Ü–µ 'dob_years' –ø—Ä–æ–±–ª–µ–º—ã —Ç–æ–ª—å–∫–æ —Å –≤–æ–∑—Ä–∞—Å—Ç–æ–º –∫–ª–∏–µ–Ω—Ç–∞, –∫–æ—Ç–æ—Ä—ã–π –≤ 101 —Å–ª—É—á–∞–µ —è–≤–ª—è–µ—Ç—Å—è 0. –î–∞–Ω–Ω–∞—è –ø—Ä–æ–±–ª–µ–º–∞ –º–æ–≥–ª–∞ –ø–æ—è–≤–∏—Ç—å—Å—è, –µ—Å–¥–∏ —á–µ–ª–æ–≤–µ–∫ –Ω–µ —É–∫–∞–∑–∞–ª —Å–≤–æ–π –≤–æ–∑—Ä–∞—Å—Ç, –∞ —Å–∏—Å—Ç–µ–º–∞ —Å—á–∏—Ç–∞–ª–∞ –ø—É—Å—Ç—É—é —Å—Ç—Ä–æ–∫—É, –∫–∞–∫ False –∏ –ø—Ä–µ–≤–µ–ª–∞ –µ—ë –∫ –Ω—É–ª—é. –ó–Ω–∞—á–µ–Ω–∏—è –≤ –¥–∞–Ω–Ω–æ–º —Å—Ç–æ–ª–±—Ü–µ –±—É–¥—É—Ç –∑–∞–º–µ–Ω–µ–Ω—ã –Ω–∞ —Å—Ä–µ–¥–Ω–µ–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É, —Ç–∞–∫ –∫–∞–∫ –≤—ã–±–æ—Ä–∫–∞ –ø—Ä–∏–º–µ—Ä–Ω–æ —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–∞
### 4) –í —Å—Ç–æ–ª–±—Ü–µ 'education' –µ—Å—Ç—å –ø—Ä–æ–±–ª–µ–º–∞ —Ä–∞–∑–Ω–æ–≥–æ —Ä–µ–≥–∏—Å—Ç—Ä–∞ —Å–∏–º–≤–æ–ª–æ–≤, –ø—Ä–æ—Å—Ç–æ –ø—Ä–∏–≤–µ–¥—ë–º –≤—Å–µ —Å–ª–æ–≤–∞ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É. –¢–∞–∫ –∂–µ –µ—Å—Ç—å –ø—Ä–æ–±–ª–µ–º–∞ —á–∏—Å–ª–æ–≤–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç—Ä–æ–∫–æ–≤–æ–º –ø–æ–ª–µ, –¥–∞–Ω–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏ —É–¥–∞–ª–∏–º
### 5) –í —Å—Ç–æ–±—Ü–µ 'education_id' –ø—Ä–æ–±–ª–µ–º –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω–æ, –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–æ–ª—å –±—É–¥–µ–º, –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞—Ç—å, —á—Ç–æ —á–µ–ª–æ–≤–µ–∫ –Ω–µ –∏–º–µ–µ—Ç –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
### 6) –í —Å—Ç–æ–ª–±—Ü–µ 'family_status' –ø—Ä–æ–±–ª–µ–º –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω–æ
### 7) –í —Å—Ç–æ–ª–±—Ü–µ 'family_status_id' –ø—Ä–æ–±–ª–µ–º –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω–æ, –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–æ–ª—å —Ç—Ä–∞–∫—Ç—É–µ–º, –∫–∞–∫ –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –±—Ä–∞–∫–∞
### 8) –í —Å—Ç–æ–ª–±—Ü–µ 'gender' –µ—Å—Ç—å –ø—Ä–æ–±–ª–µ–º–∞ —Å –µ–¥–∏–Ω—Å—Ç–≤–µ–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º 'XNA', –¥–∞–Ω–Ω–∞—è —Å—Ç—Ä–æ–∫–∞ –∏–∑-–∑–∞ –Ω–µ–≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –ø–æ–ª –±—É–¥–µ—Ç —É–¥–∞–ª–µ–Ω–∞
### 9)–í —Å—Ç–æ–ª–±—Ü–µ 'income_type' –ø—Ä–æ–±–ª–µ–º –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω–æ
### 10) –í —Å—Ç–æ–ª–±—Ü–µ 'debt' –ø—Ä–æ–±–ª–µ–º –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω–æ, –∑–∞–º–µ–Ω–∏–º —Ç–∏–ø –Ω–∞ int64
### 11) –í —Å—Ç–æ–ª—Ü–µ 'total_income' –µ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –∑–∞–º–µ–Ω–∏—Ç—å –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –∑–Ω–∞—á–µ–Ω–∏–π –º–µ–Ω—å—à–µ –Ω—É–ª—è –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω–æ
### 12) –í —Å—Ç–æ–ª–±—Ü–µ 'purpose' –µ—Å—Ç—å –ø–æ—Ö–æ–∂–∏–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –ª–µ–º–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞—Ç—å, –ø—Ä–æ–±–ª–µ–º—ã —Å –¥–∞–Ω–Ω—ã–º–∏ –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω—ã

**–í—ã–≤–æ–¥** –ü–æ—Å–ª–µ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–Ω–æ —Å–∫–∞–∑–∞—Ç—å, —á—Ç–æ –≤ –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–µ —Å–≤–æ—ë–º –Ω–µ—Ç —É–º—ã—à–ª–µ–Ω–Ω–æ–π –ø–æ—Ä—á–∏ –¥–∞–Ω–Ω—ã—Ö, –æ—Å–Ω–æ–≤–Ω—ã–µ –ø—Ä–æ–±–ª–µ–º—ã —Å –¥–∏—Å–∫—Ä–µ—Ç–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ - —ç—Ç–æ –Ω–µ–ø—Ä–∞–≤–∏–ª—å–Ω–æ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ —Ç–∏—Ä–µ, –∏–ª–∏ –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö. –í –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–±–ª–µ–º, –∫—Ä–æ–º–µ –ø–æ–ª—è 'gender' –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω–æ, –æ—Å—Ç–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –º–æ–∂–Ω–æ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ –ª–µ–º–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞—Ç—å

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–î–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –¥–µ—Ç–∞–ª—å–Ω–æ –∏–∑—É—á–∏–ª–∏ –Ω–∞—à–∏ –ø–µ—Ä–≤–∏—á–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ, –¥–∞–≤–∞–π —Ç–µ–ø–µ—Ä—å –∏—Ö –æ–±—Ä–∞–±–æ—Ç–∞–µ–º, –≤–µ–¥—å —É –Ω–∞—Å –µ—Å—Ç—å –ø–ª–∞–Ω üòä.
    
</div>

## –®–∞–≥ 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤

#### –ù–∞—á–Ω—ë–º –æ–±—Ä–∞–±–æ—Ç–∫—É –ø—Ä–æ–ø—É—Å–∫–æ–≤ —Å–æ —Å—Ç–æ–ª–±—Ü–∞ 'children' –≤ –Ω–µ–º –∑–∞–º–µ–Ω–∏–º -1 –Ω–∞ 1

In [127]:
df.loc[df['children'] == -1, 'children'] = 1
df['children'].value_counts()

0     14149
1      4865
2      2055
3       330
20       76
4        41
5         9
Name: children, dtype: int64

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ê –µ—Å–ª–∏ –±—ã –º—ã –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏ –Ω–∞ –¥–æ–ª—é —ç—Ç–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π, —Ç–æ —Å–º–æ–≥–ª–∏ –±—ã –ø—Ä–∏–Ω—è—Ç—å —Ä–µ—à–µ–Ω–∏–µ –≤ —Å—Ç–æ—Ä–æ–Ω—É –∏–∑–±–∞–≤–ª–µ–Ω–∏—è –æ—Ç —ç—Ç–∏—Ö –¥–∞–Ω–Ω—ã—Ö ? 
    
</div>

<div class="alert alert-info"> 
    –ó–Ω–∞—á–µ–Ω–∏–π –±—ã–ª–æ —Å–æ–≤—Å–µ–º –Ω–µ–º–Ω–æ–≥–æ(0.2%) —É–¥–∞–ª–µ–Ω–∏–µ –±—ã–ª–æ –≤–æ–∑–º–æ–∂–Ω–æ
    
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (2):</b>

–û—Ç–ª–∏—á–Ω–æ –∏ –ª–æ–≥–∏—á–Ω–æ üòä
    
</div>

#### –î–∞–ª–µ–µ –ø–µ—Ä–µ–π–¥—ë–º –∫ —Å—Ç–æ–ª–±—Ü—É 'days_employed' –Ω–∞–π–¥—ë–º –º–µ–¥–∏–∞–Ω—É –∏–∑ –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –º–µ—Ç–æ–¥–æ–º apply, —Å–ª–∏—à–∫–æ–º –æ–≥—Ä–æ–º–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∑–∞–º–µ–Ω–∏–º –º–µ–¥–∏–∞–Ω–Ω–æ–π, –∑–Ω–∞—á–µ–Ω–∏—è –∫–æ—Ç–æ—Ä—ã–µ –≤—Ö–æ–¥—è—Ç –≤ –Ω–∞—à –ø—Ä–æ–º–µ–∂—É—Ç–æ–∫, –Ω–æ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–∞–º–µ–Ω–∏–º –Ω–∞ –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω—ã–µ –ø–æ –º–æ–¥—É–ª—é. –¢–∞–∫ –∂–µ –ø—Ä–æ–≤–µ–¥—ë–º –ø—Ä–æ–≤–µ—Ä–∫—É, —á—Ç–æ–±—ã –∑–Ω–∞—á–µ–Ω–∏—è –∫–æ–ª-–≤–∞ —Ä–∞–±–æ—á–∏—Ö –¥–Ω–µ–π –Ω–µ –±—ã–ª–æ –±–æ–ª—å—à–µ –æ–±—â–µ–≥–æ –≤–æ–∑—Ä–∞—Å—Ç–∞ –∫–ª–∏–µ–Ω—Ç–∞. –•–æ—Ç—è —Å—Ç–æ–ª–±—Ü–µ –æ–±–æ–∑–Ω–∞—á–µ–Ω, –∫–∞–∫ float, –Ω–æ –ø—Ä–∏–º–µ–Ω–∏–º –æ–±—Ä–∞–±–æ—Ç—á–∏–∫ –∏—Å–∫–ª—é—á–µ–Ω–∏–π try-except

In [128]:
import pandas as pd
import statistics


def day_employed_mediana(row):
    try:
        days_employed_abs = abs(row['days_employed'])
        dob_years = row['dob_years']

        if days_employed_abs >= dob_years * 365:
            return None
        else:
            day_median_mass.append(days_employed_abs)
            return days_employed_abs
    except:
        return None

day_median_mass = []

df['days_employed'] = df[['days_employed', 'dob_years']].apply(day_employed_mediana, axis=1)
median_df_day = statistics.median(day_median_mass)

df['days_employed'] = df['days_employed'].fillna(median_df_day)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

<s>–Ø –±—ã —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–ª –Ω–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∞—Ç—Ä–∏–±—É—Ç `inplace`, —Ç–∞–∫ –∫–∞–∫ –≤ –ø–æ—Å–ª–µ–¥—É—é—â–∏—Ö –æ–±–Ω–æ–≤–ª–µ–Ω–∏—è—Ö –±–∏–±–ª–æ—Ç–µ–∫–∏ `pandas` –æ–Ω –±—É–¥–µ—Ç —É–¥–∞–ª–µ–Ω.
    
–õ—É—á—à–µ –≤—Å–µ–≥–æ –ø–µ—Ä–µ–æ–ø—Ä–µ–¥–µ–ª—è—Ç—å –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ. 
    
</div>

<div class="alert alert-info"> 
    –£–±—Ä–∞–ª –º–µ—Ç–æ–¥ inplace, —Ç–µ–ø–µ—Ä—å –∑–∞–º–µ–Ω—è—é —Å—Ç–æ–ª–±–µ—Ü –ø–æ—Å–ª–µ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –≤ –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ
</div>

#### –ó–∞–º–µ–Ω–∏–º –Ω—É–ª–µ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ 'dob_years' –Ω–∞ —Å—Ä–µ–¥–Ω–∏–µ

In [129]:
mean_dob_yars = df.loc[df['dob_years'] > 0]['dob_years'].sum() // df.loc[df['dob_years'] > 0]['dob_years'].count()
df.loc[df['dob_years'] == 0] = mean_dob_yars
df['dob_years'].value_counts()

35    617
43    614
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

#### –°–ª–µ–¥—É—é—à–∏–º —à–∞–≥–æ–º –ø–µ—Ä–µ–≤–µ–¥—ë–º –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ 'education' –≤—Å–µ –≤ –Ω–∏–∂–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä –∏ —É–±–µ—Ä—ë–º –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è

In [130]:
df['education'] = df['education'].str.lower()
df = df.loc[df['education'].isna() == False]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21424 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21424 non-null  int64
 1   days_employed     21424 non-null  float64
 2   dob_years         21424 non-null  int64
 3   education         21424 non-null  object
 4   education_id      21424 non-null  int64
 5   family_status     21424 non-null  object
 6   family_status_id  21424 non-null  int64
 7   gender            21424 non-null  object
 8   income_type       21424 non-null  object
 9   debt              21424 non-null  int64
 10  total_income      19260 non-null  float64
 11  purpose           21424 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB

#### –í —Å—Ç–æ–ª–±—Ü–µ 'gender' —É–¥–∞–ª–∏–º —Å—Ç—Ä–æ–∫—É —Å 'XNA'

In [131]:
df = df.loc[df['gender'] != 'XNA']
df['gender'].value_counts()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21423 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21423 non-null  int64
 1   days_employed     21423 non-null  float64
 2   dob_years         21423 non-null  int64
 3   education         21423 non-null  object
 4   education_id      21423 non-null  int64
 5   family_status     21423 non-null  object
 6   family_status_id  21423 non-null  int64
 7   gender            21423 non-null  object
 8   income_type       21423 non-null  object
 9   debt              21423 non-null  int64
 10  total_income      19259 non-null  float64
 11  purpose           21423 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB

#### –í —Å—Ç–æ–ª–±—Ü–µ 'total_income' –∑–∞–º–µ–Ω–∏–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ, –∑–Ω–∞—á–µ–Ω–∏–π –º–µ–Ω—å—à–µ –Ω—É–ª—è –≤ —Å—Ç–æ–ª–±–µ –Ω–µ—Ç

In [132]:
total_income_median = df.loc[df['total_income'].isna() == False]['total_income'].median()
df.loc[df['total_income'].isna() == True, 'total_income'] = total_income_median
df['total_income'].isna().sum()

0

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ë—ã–ª–æ –±—ã –∑–¥–æ—Ä–æ–≤–æ, –ø–æ–Ω—è—Ç—å –ø–æ—á–µ–º—É –∏–º–µ–Ω–Ω–æ –º—ã –∑–∞–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –∏–º–µ–Ω–Ω–æ –º–µ–¥–∏–∞–Ω–∞–º–∏.
    
–¢–∞–∫ –±—ã—Å—Ç—Ä–µ–µ –ø–æ–Ω—è—Ç—å —Ç–≤–æ–π —Ö–æ–¥ –º—ã—Å–ª–µ–π.
    
</div>

<div class="alert alert-info"> 
    –ü—Ä–∏–º–µ–Ω—è–µ—Ç—Å—è –º–µ–¥–∏–∞–Ω–Ω–æ–µ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ, —Ç–∞–∫ –∫–∞–∫ –¥–∞–Ω–Ω—ã–µ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –Ω–µ—Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–æ –ø—Ä–∏ –≤–∑—è—Ç–∏–∏ —Å—Ä–µ–¥–Ω–µ–≥–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –Ω–µ—Ç–æ—á–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (2):</b>

–õ–æ–≥–∏—á–Ω–æ.
    
–ê –µ—Å–ª–∏ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ –≥—Ä—É–ø–ø—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –Ω–∞–ø—Ä–∏–º–µ—Ä –ø–æ –ø—Ä–æ—Ñ–µ—Å—Å–∏—è–º  –∏ –ø–æ—Ç–æ–º –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –∏—Å—Ö–æ–¥—è –∏–∑ –≥—Ä—É–ø–ø? üòä
    
–ë—É–¥–µ–º –∏–º–µ—Ç—å –≤ –≤–∏–¥—É –Ω–∞ –±—É–¥—É—â–µ–µ, —á—Ç–æ —Ç–∞–∫–æ–π –º–µ—Ç–æ–¥ —Ç–∞–∫–∂–µ —Å—É—â–µ—Å—Ç–≤—É–µ—Ç.
    
</div>

**–í—ã–≤–æ–¥** –ó–∞–ø–æ–ª–Ω–∏–ª–∏ –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω–æ—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö –±—Ä–∞–ª–∏ –º–µ–¥–∏–∞–Ω—É –∏–ª–∏ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π. –ü—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ —É–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã –±—ã–ª–æ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ –∏ —Ç–æ–ª—å–∫–æ –¥–ª—è –ø—É—Å—Ç–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –≥–æ–¥–∞ –ø–æ–ª—É—á–∞—Ç–µ–ª—è(101) –∏ —Å—Ç—Ä–æ–∫–∞ —Å –Ω–µ–ø–æ–Ω—è—Ç–Ω—ã–º –ø–æ–ª–æ–º(XNA)

### –ó–∞–º–µ–Ω–∞ —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö

#### –ó–∞–º–µ–Ω–∏–º —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ int64 –≤ —Å—Ç–æ–ª–±—Ü–µ 'days_employed', —Ç–∞–∫ –∫–∞–∫ –¥–∞–Ω–Ω—ã–µ —É–∂–µ –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω—ã –ø—Ä–∏–º–µ–Ω–∏–º —Å–Ω–∞—á–∞–ª–∞ –º–µ—Ç–æ–¥ to_numeric(), –∞ –∑–∞—Ç–µ–º –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ astype('int64')

In [133]:
df['days_employed'] = pd.to_numeric(df['days_employed'], errors='coerce').astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21423 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21423 non-null  int64
 1   days_employed     21423 non-null  int64
 2   dob_years         21423 non-null  int64
 3   education         21423 non-null  object
 4   education_id      21423 non-null  int64
 5   family_status     21423 non-null  object
 6   family_status_id  21423 non-null  int64
 7   gender            21423 non-null  object
 8   income_type       21423 non-null  object
 9   debt              21423 non-null  int64
 10  total_income      21423 non-null  float64
 11  purpose           21423 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.1+ MB

#### –í —Å—Ç–æ–ª–±—Ü–µ 'total_income' –∑–∞–º–µ–Ω–∏–º —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ int64, —á—Ç–æ–±—ã —É–±—Ä–∞—Ç—å –¥—Ä–æ–±–Ω—É—é —á–∞—Å—Ç—å, –¥–∞–Ω–Ω—ã–µ –≥–æ—Ç–æ–≤—ã –ø—Ä–∏–º–µ–Ω–∏–º —Å—Ä–∞–∑—É astype

In [134]:
df['total_income'] = df['total_income'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21423 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21423 non-null  int64
 1   days_employed     21423 non-null  int64
 2   dob_years         21423 non-null  int64
 3   education         21423 non-null  object
 4   education_id      21423 non-null  int64
 5   family_status     21423 non-null  object
 6   family_status_id  21423 non-null  int64
 7   gender            21423 non-null  object
 8   income_type       21423 non-null  object
 9   debt              21423 non-null  int64
 10  total_income      21423 non-null  int64
 11  purpose           21423 non-null  object
dtypes: int64(7), object(5)
memory usage: 2.1+ MB

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–í —Ç–æ–º —á–∏—Å–ª–µ –º–µ—Ç–æ–¥ `fillna` –∏ `astype` –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å –∫ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º —Å—Ç–æ–ª–±—Ü–∞–º –æ–¥–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–æ.
    
–ï—Å–ª–∏ —Å—Ç–æ–ª–±—Ü–æ–≤ –±–æ–ª–µ–µ 2‚Äì—É—Ö, —Ç–æ —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –ø—Ä–∏–º–µ–Ω—è—Ç—å —Ü–∏–∫–ª `for`.
    
–ü—Ä–∏–º–µ—Ä: 
    
`df.astype({ "col1": "float64", "col2": "int64"})`
    
</div>

**–í—ã–≤–æ–¥** –ó–∞–º–µ–Ω–∏–ª–∏ —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö float –Ω–∞ int64 –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª–∏ –≤—Å—Ç—Ä–æ–µ–Ω–Ω—ã–µ –º–µ—Ç–æ–¥—ã –∏ –∏–∑–±–µ–≥–∞–ª–∏ —Å –ø–æ–º–æ—â—å—é –Ω–∏—Ö –ø–∞–¥–µ–Ω–∏—è –ø—Ä–æ–≥—Ä–∞–º–º—ã –Ω–∞ –æ—à–∏–±–∫–∞—Ö. –ó–Ω–∞—á–µ–Ω–∏—è –∑–∞—Ä–ø–ª–∞—Ç –ø—Ä–∏–≤–µ–¥–µ–Ω—ã –±–µ–∑ –¥—Ä–æ–±–Ω–æ–π —á–∞—Å—Ç–∏, –∫–æ—Ç–æ—Ä—É—é –º–æ–∂–Ω–æ –Ω–µ —É—á–∏—Ç—ã–≤–∞—Ç—å, –∑–Ω–∞—á–µ–Ω–∏—è –∫–æ–ª-–≤–∞ —Ä–∞–±–æ—á–∏—Ö –¥–Ω–µ–π –ø—Ä–∏–≤–µ–¥–µ–Ω—ã –∫ —Ü–µ–ª–æ–º—É —á–∏—Å–ª—É.

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

#### –ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –º–µ—Ç–æ–¥–æ–º duplicated(). –£–¥–∞–ª–∏–º –¥—É–±–ª–∏–∫–∞—Ç—ã –∏–∑ —Ç–∞–±–ª–∏—Ü—ã –∏ –≤–æ—Å—Å—Ç–∞–Ω–æ–≤–∏–º –∏–Ω–¥–µ–∫—Å—ã –º–µ—Ç–æ–¥–æ–º reset_yndex(drop=True)

In [135]:
print(df.duplicated().sum())
df = df.drop_duplicates().reset_index(drop=True)
df.duplicated().sum()

71

0

#### –†–∞–Ω–Ω–µ–µ –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –∑–Ω–∞—á–µ–Ω–∏—è –±—ã–ª–∏ –ø—Ä–∏–≤–µ–¥–µ–Ω—ã –∫ –æ–±—â–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ —Å–æ–µ–¥–µ–Ω–µ–Ω—ã –≤–º–µ—Å—Ç–µ

**–í—ã–≤–æ–¥** –£–¥–∞–ª–∏–ª–∏ —è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã, —Ä–∞–Ω–µ–µ –±—ã–ª–∏ –ø—Ä–∏–≤–µ–¥–µ–Ω—ã –∑–Ω–∞—á–µ–Ω–∏—è –∫ –æ–±–∑–µ–º—É —Ç–∏–ø—É, –∏–∑–±–∞–≤–∏–ª–∏—Å—å –æ—Ç –ø–æ–≤—Ç–æ—Ä–æ–≤ –≤ —Ä–µ–≥–∏—Å—Ç—Ä–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è. –ü–æ—è–≤–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤–æ–∑–º–æ–∂–Ω–æ –ø—Ä–∏ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –∑–∞—è–≤–∫–µ –Ω–∞ –∫—Ä–µ–¥–∏—Ç –∏–ª–∏ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –∑–∞—è–≤–∫–µ –ø—Ä–∏ –æ—Ç–∫–∞–∑–µ –≤ –ø–µ—Ä–≤—ã–π —Ä–∞–∑

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–•–æ—Ä–æ—à–æ, —á—Ç–æ —É–¥–∞–ª–∏–ª–∏ –¥—É–±–ª–∏–∫–∞—Ç—ã, –æ–Ω–∏ –Ω–∞–º –Ω–∏ –∫ —á–µ–º—É.
    
</div>

### –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è

#### –ü—Ä–æ–≤–µ–¥—ë–º –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—é —Å –ø–æ–º–æ—â—å—é –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ nltk, 
#### –ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –ø—Ä–æ–≤–µ–¥—ë–º —Å—Ç–µ–º–º–∏–Ω–≥ –∏ —É–ø—Ä–æ—Å—Ç–∏–º –Ω–∞—à–∏ –¥–∞–Ω–Ω—ã–µ, —Ç–∞–∫ –∫–∞–∫ –Ω–∞–±–æ—Ä –∫–∞—Ç–µ–≥–æ—Ä–∏–π –Ω–µ–±–æ–ª—å—à–æ–π, —Ç–æ –≤—ã–¥–µ–ª–∏–º –æ—Å–Ω–æ–≤–Ω—ã–µ —Å–ª–æ–≤–∞. –î–æ–±–∞–≤–∏–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±—Ü–µ —Å –ø–æ–Ω—è—Ç–Ω—ã–º–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏

In [136]:
from nltk.stem import SnowballStemmer

def purpose_stem(row):
    str_of_purpose = row
    res_purpose = ""

    for word in str_of_purpose.split():
        temp_stem_word = russian_stem.stem(word)

        if temp_stem_word in purpose_core:
            res_purpose += temp_stem_word
            break

    return res_purpose


purpose_core = []
russian_stem = SnowballStemmer('russian')
for word in ['—Å–≤–∞–¥—å–±–∞', '–∂–∏–ª—å—ë', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '–∞–≤—Ç–æ–º–æ–±–∏–ª–∏', '–ø–æ–¥–¥–µ—Ä–∂–∞–Ω–Ω—ã–π', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '–∞–≤—Ç–æ–º–æ–±–∏–ª—è']:
    purpose_core.append(russian_stem.stem(word))
    
df['purpose_stem'] = df['purpose'].apply(purpose_stem)


display(df)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_stem
0,1,8437,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,–∂–∏–ª
1,1,4024,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,–∞–≤—Ç–æ–º–æ–±–∏–ª
2,0,5623,33,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,–∂–∏–ª
3,3,4124,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,–æ–±—Ä–∞–∑–æ–≤–∞–Ω
4,0,363,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,—Å–≤–∞–¥—å–±
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21347,1,4529,43,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,224791,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º,–∂–∏–ª
21348,0,363,67,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,155999,—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–∞–≤—Ç–æ–º–æ–±–∏–ª
21349,1,2113,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,89672,–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å,–Ω–µ–¥–≤–∏–∂–∏–º
21350,3,3112,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,244093,–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,–∞–≤—Ç–æ–º–æ–±–∏–ª
21351,2,1984,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,82047,–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è,–∞–≤—Ç–æ–º–æ–±–∏–ª

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

<s>–†–µ–∫–æ–º–µ–Ω–¥—É—é –Ω–µ –ø—Ä–∏–º–µ–Ω—è—Ç—å –º–µ—Ç–æ–¥ `print()` –¥–ª—è –≤—ã–≤–æ–¥–∞ —Ç–∞–±–ª–∏—Ü. –õ—É—á—à–µ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –≤
–Ω–∞—á–∞–ª–µ –ø—Ä–æ–µ–∫—Ç–∞ –º–µ—Ç–æ–¥ `display` –∏–∑ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ `IPython.display` –∏
–ø—Ä–∏–º–µ–Ω—è—Ç—å –µ–≥–æ:

---
    
`from IPython.display import display`

`display(df)`

    
</div>

<div class="alert alert-info">
    –ü—Ä–∏–º–µ–Ω–∏–ª –≤—ã–≤–æ–¥ —á–µ—Ä–µ–∑ display
</div>

In [137]:
df.loc[df['purpose_stem'] == '–∞–≤—Ç–æ–º–æ–±', 'purpose_stem'] = '–∞–≤—Ç–æ–º–æ–±–∏–ª'
print(df['purpose_stem'].value_counts())

–∂–∏–ª          5660
–Ω–µ–¥–≤–∏–∂–∏–º     5103
–∞–≤—Ç–æ–º–æ–±–∏–ª    4284
–æ–±—Ä–∞–∑–æ–≤–∞–Ω    3995
—Å–≤–∞–¥—å–±       2310
Name: purpose_stem, dtype: int64

**–í—ã–≤–æ–¥** –í—ã–¥–µ–ª–∏–ª–∏ –æ–±—â—É—é –ø—Ä–∏—á–∏–Ω—É –≤–∑—è—Ç–∏—è –∫—Ä–µ–¥–∏—Ç–∞, –≤—ã–≤–µ–ª–∏ –∏—Ö –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–π —Å—Ç–æ–ª–±—Ü–µ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ö–∞—Ç–µ–≥–æ—Ä–∏–∏ –∫—Ä–µ–¥–∏—Ç–æ–≤ –æ–ø—Ä–µ–¥–∏–ª–∏–ª–∏ –≤–µ—Ä–Ω–æ üëç
    
</div>

### –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

In [138]:
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_stem
0,1,8437,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,–∂–∏–ª
1,1,4024,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,–∞–≤—Ç–æ–º–æ–±–∏–ª
2,0,5623,33,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,–∂–∏–ª
3,3,4124,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,–æ–±—Ä–∞–∑–æ–≤–∞–Ω
4,0,363,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,—Å–≤–∞–¥—å–±
5,0,926,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,–∂–∏–ª
6,0,2879,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º,–∂–∏–ª
7,0,152,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,–æ–±—Ä–∞–∑–æ–≤–∞–Ω
8,2,6929,35,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã,—Å–≤–∞–¥—å–±
9,0,2188,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏,–∂–∏–ª

#### –†–∞—Å—Å–º–æ—Ç—Ä–∏–º –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –°–æ–∑–¥–∞–¥–∏–º —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º –∫–æ–ª–ª–∏—á–µ—Å—Ç–≤–µ–Ω–Ω–æ, –∫–∞–∫ —ç—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ —Å–≤—è–∑–∞–Ω—ã

In [139]:
children = df.pivot_table(index='children', columns= 'debt', values='days_employed', aggfunc='count')
children['percent'] = children[1] / (children[1] + children[0]) * 100
children = children.sort_values(by='percent', ascending=True)
children

debt            0       1    percent
children
0         12963.0  1058.0   7.545824
3           301.0    27.0   8.231707
1          4397.0   442.0   9.134119
2          1845.0   194.0   9.514468
4            37.0     4.0   9.756098
20           67.0     8.0  10.666667
5             9.0     NaN        NaN

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

<s>–û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –º—ã –Ω–µ —Å–æ–≤—Å–µ–º –≤–µ—Ä–Ω–æ –ø–æ—Å—á–∏—Ç–∞–ª–∏ –¥–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã.
    
–ó–¥–µ—Å—å –Ω–∞–º –Ω—É–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –∫–ª–∏–µ–Ω—Ç–∞ —Å—Ç–∞—Ç—å –¥–æ–ª–∂–Ω–∏–∫–æ–º.
    
–ö–∞–∫ –æ–Ω–∞ —Ä–∞—Å—á–∏—Ç—ã–≤–∞–µ—Ç—Å—è ? 
    
–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å = –∫–æ–ª‚Äì–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –¥–æ–ª–≥ / –æ–±—â–µ–µ –∫–æ–ª‚Äì–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –≥—Ä—É–ø–ø–µ
    
–≠—Ç–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å –º–æ–∂–Ω–æ —Å –ø–æ–º–æ—â—å—é —Å–≤–æ–¥–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü `pivot_table`, —Ö–æ—á—É –Ω–∞–ø–æ–º–Ω–∏—Ç—å, —á—Ç–æ —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã —ç—Ç–æ —Ç–µ –∂–µ –¥–∞—Ç–∞—Ñ—Ä–µ–º—ã. –¢–æ –µ—Å—Ç—å –≤ –Ω–∏—Ö –º–æ–∂–Ω–æ –¥–æ–±–∞–≤–ª—è—Ç—å —Å—Ç–æ–ª–±—Ü—ã –∏ –¥–µ–ª–∞—Ç—å –Ω—É–∂–Ω—ã–µ –Ω–∞–º —Ä–∞—Å—á–µ—Ç—ã.
    
–î–∞–≤–∞–π –ø–æ–ø—Ä–∞–≤–∏–º –ø–æ–∂–∞–ª—É–π—Å—Ç–∞ —ç—Ç–∏ —Ä–∞—Å—á–µ—Ç—ã.
    
</div>

<div class='alert alert-info'>
–ü—Ä–µ–≤—ë–ª –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã –∫ –ø—Ä–æ—Ü–µ–Ω—Ç–Ω–æ–º—É –≤–∏–¥—É
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–í–µ—Ä–Ω–æ üëç
    
</div>

####  –¢–µ–ø–µ—Ä—å —Ä–∞—Å—Å–º–æ—Ç—Ä–∏–º –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫

In [140]:
family_state = df.pivot_table(index='family_status', columns='debt', values='days_employed', aggfunc='count')
family_state['percent'] = family_state[1] / (family_state[0] + family_state[1]) * 100
family_state = family_state.sort_values(by='percent', ascending=True)
family_state

debt                       0    1   percent
family_status
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞           892   62  6.498952
–≤ —Ä–∞–∑–≤–æ–¥–µ               1100   85  7.172996
–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º        11363  927  7.542718
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫        3743  386  9.348511
–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º   2521  273  9.770938

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>


    
–û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –Ω–∞—à–∏ –¥–µ–π—Å—Ç–≤–∏—è –ø–æ–≤—Ç–æ—Ä—è—é—Ç—Å—è —Å —Ç–æ—á–∫–∏ –∑—Ä–µ–Ω–∏—è —Ä–∞—Å—á–µ—Ç–æ–≤.
    
–≠—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –º—ã –º–æ–∂–µ–º —Å–æ–∑–¥–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –ø–æ—Å—Ç–æ—è–Ω–Ω—ã—Ö —Ä–∞—Å—á–µ—Ç–æ–≤. –¢–µ–º —Å–∞–º—ã–º –º—ã —Å–º–æ–∂–µ–º –æ–ø—Ç–∏–º–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Å–≤–æ–π –∫–æ–¥ üòä
    
</div>

#### –¢–µ–ø–µ—Ä—å –ø–æ—Å—Ç—Ä–æ–∏–º —Ç–∞–±–ª–∏—Ü—É, –≥–¥–µ –æ—Ü–µ–Ω–∏–º, –∫–∞–∫ —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞ –≤–ª–∏—è–µ—Ç –Ω–∞ –≤–æ–∑–≤—Ä–∞—Ç –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –ù–æ –ø–µ—Ä–µ–¥ —ç—Ç–∏–º —Ä–∞–∑–æ–±—å—ë–º –Ω–∞—à—É —Ç–∞–±–ª–∏—Ü—É –Ω–∞ —Ç—Ä–∏ –ø–æ–¥—Ç–∞–±–ª–∏—Ü—ã, –¥–ª—è –Ω–∞–∏–ª—É—á—à–µ–π –æ—Ü–µ–Ω–∫–∏ –¥–æ—Ö–æ–¥–∞

In [141]:
def mon_category(row):
    if row < 85_000:
        return 0
    elif row < 220_000:
        return 1
    else:
        return 2
    
df['money_group'] = df['total_income'].apply(mon_category)

In [142]:
money = df.pivot_table(index='money_group', columns='debt', values='family_status', aggfunc='count')
money['percent'] = money[1] / (money[1] + money[0]) * 100
money = money.sort_values(by='percent', ascending=True)
money

debt             0     1   percent
money_group
2             3704   283  7.098069
0             2566   211  7.598127
1            13349  1239  8.493282

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

    
–í —Ç–æ–º —á–∏—Å–ª–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –¥–∞–Ω–Ω—ã—Ö `groupby`, –±—É–¥–µ–º –∏–º–µ—Ç—å –≤ –≤–∏–¥—É –∫–∞–∫ –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–π —Å–ø–æ—Å–æ–±.
    
</div>

#### –†–∞—Å—Å–º–æ—Ç—Ä–∏–º, –∫–∞–∫ –≤–ª–∏—è—é—Ç —Ü–µ–ª–∏ –Ω–∞ –ø–æ–ª—É—á–µ–Ω–∏–µ –∫—Ä–µ–¥–∏—Ç–∞

In [143]:
purpose = df.pivot_table(index='purpose_stem', columns='debt', values='family_status', aggfunc='count')
purpose['percent'] = purpose[1] / (purpose[1] + purpose[0]) * 100
purpose = purpose.sort_values(by='percent', ascending=True)
purpose

debt             0    1   percent
purpose_stem
–∂–∏–ª           5265  395  6.978799
–Ω–µ–¥–≤–∏–∂–∏–º      4719  384  7.524985
—Å–≤–∞–¥—å–±        2126  184  7.965368
–æ–±—Ä–∞–∑–æ–≤–∞–Ω     3625  370  9.261577
–∞–≤—Ç–æ–º–æ–±–∏–ª     3884  400  9.337068

**–í—ã–≤–æ–¥** –ü–æ—Å—á–∏—Ç–∞–ª–∏ –ø—Ä–∏ –∫–∞–∫–∏—Ö —Ü–µ–ª—è—Ö –ª—é–¥–∏ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç —Ö—É–∂–µ –≤—Å–µ–≥–æ, —á—Ç–æ –Ω–∞ –ø–æ–∫—É–ø–∫—É –∂–∏–ª—å—è –≤–æ–∑–≤—Ä–∞—Ç –Ω–∞–º–Ω–æ–≥–æ –ª—É—á—à–µ, —á–µ–º –Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º, —Ç–∞–∫ –∂–µ –ª—é–¥–∏ –≤ —Ä–∞–∑–≤–æ–¥–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç —á–∞—â–µ, —á–µ–º —Ç–µ –∫—Ç–æ –Ω–µ —Å–æ—Å—Ç–æ—è–ª –≤ –±—Ä–∞–∫–µ

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

    
–í —Ç–æ–º —á–∏—Å–ª–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã –ø–æ—Å—Ç—Ä–æ–∏—Ç—å –≥—Ä–∞—Ñ–∏–∫–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `hist` 
    
–ö–∞–∫ —Ä–∞–∑ —Å–ø–æ—Å–æ–±—ã –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏, –º—ã —É–∂–µ –±—É–¥–µ–º –ø—Ä–æ—Ö–æ–¥–∏—Ç—å –≤ —Å–ª–µ–¥—É—é—â–µ–º –ø—Ä–æ–µ–∫—Ç–µ üòä
    
</div>

## –®–∞–≥ 3. –û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

### –°–µ–º—å–∏ –±–µ–∑ –Ω–∞–ª–∏—á–∏—è –¥–µ—Ç–µ–π –≤—ã–ø–ª–∞—á–∏–≤–∞—é—Ç –∫—Ä–µ–¥–∏—Ç –ª—É—á—à–µ,—á–µ–º —Ç–µ —Å–µ–º—å–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –¥–µ—Ç–∏ –µ—Å—Ç—å, –∑–∞ –∏—Å–∫–ª—é—á–µ–Ω–∏–µ–º, —Ç–æ–ª—å–∫–æ —Å–µ–º–µ–π —Å —Ç—Ä–µ–º—è –¥–µ—Ç—å–º–∏

In [144]:
children

debt            0       1    percent
children
0         12963.0  1058.0   7.545824
3           301.0    27.0   8.231707
1          4397.0   442.0   9.134119
2          1845.0   194.0   9.514468
4            37.0     4.0   9.756098
20           67.0     8.0  10.666667
5             9.0     NaN        NaN

**–í—ã–≤–æ–¥** –õ—é–¥–∏ –±–µ–∑ –¥–µ—Ç–µ–π –≤—ã–ø–ª–∞—á–∏–≤–∞–±—Ç –∫—Ä–µ–¥–∏—Ç —á–∞—â–µ

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

<s>–õ—É—á—à–µ –≤—Å–µ–≥–æ –æ—Å—Ç–∞–≤–ª—è—Ç—å –æ—Ç–≤–µ—Ç—ã –∏–º–µ–Ω–Ω–æ –≤ —Ñ–æ—Ä–º–∞—Ç–µ –∫–æ–¥–∞ –≤ —ç—Ç–∏—Ö –ø—É–Ω–∫—Ç–∞—Ö, —á—Ç–æ–±—ã —Å–æ—Ö—Ä–∞–Ω—è—Ç—å –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å –Ω–∞—à–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ üòä
    
</div>

<div class='alert alert-info'>
    –î–æ–±–∞–≤–∏–ª –∫ –∫–∞–∂–¥–æ–º—É –≤—ã–≤–æ–¥—É –∫–æ–¥
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ù–∞–ø–∏—Å–∞–ª —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –≤—ã—à–µ ü§¶‚Äç‚ôÇÔ∏èüòä    
</div>

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [145]:
family_state

debt                       0    1   percent
family_status
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞           892   62  6.498952
–≤ —Ä–∞–∑–≤–æ–¥–µ               1100   85  7.172996
–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º        11363  927  7.542718
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫        3743  386  9.348511
–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º   2521  273  9.770938

### –ü—Ä–∏ –∞–Ω–∞–ª–∏–∑–µ –±—ã–ª–æ –ø–æ–ª—É—á–µ–Ω–æ, —Ç–æ –ª—é–¥–∏ —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –±—Ä–∞–∫–∏ –∏–ª–∏ —É–∂–µ —Ä–∞–∑–≤–µ–¥—ë–Ω–Ω—ã–µ –≤—ã–ø–ª–∞—á–∏–≤–∞—é—Ç –∫—Ä–µ–¥–∏—Ç –≤–æ–≤—Ä–µ–º—è —á–∞—â–µ, —á–µ–º —Ç–µ –∫—Ç–æ –Ω–µ –∂–µ–Ω–∞—Ç –∏–ª–∏ —Å–æ—Å—Ç–æ–∏—Ç –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ

**–í—ã–≤–æ–¥** –õ—é–¥–∏ —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –±—Ä–∞–∫–µ –∏–º–µ—é—Ç –º–µ–Ω—å—à–µ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–µ–π –ø–æ –∫—Ä–µ–¥–∏—Ç–∞–º

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

### –õ—é–¥–∏, —Å –¥–æ—Ö–æ–¥–æ–º –¥–æ 85 —Ç—ã—Å,–æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç –±–æ–ª–µ–µ —á–∞—â–µ, —á–µ–º —Ç–µ –∫—Ç–æ –Ω–∞—Ö–æ–¥—è—Ç—Å—è –æ—Ç > 85 –Ω–æ –º–µ–Ω–µ–µ 222 —Ç—ã—Å , —Ö–æ—Ç—è –≥—Ä—É–ø–ø—ã –Ω–µ —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω—ã –ø–æ –∫–æ–ª-–≤—É, –Ω–æ –∫–æ—ç—Ñ –¥–ª—è –≥—Ä—É–ø–ø—ã –¥–æ 85 —Ç—ã—Å —Ä–∞–≤–µ–Ω 12 –¥–ª—è –≥—Ä—É–ø–ø—ã –±–æ–ª–µ–µ 85 —Ç—ã—Å —Ä–∞–≤–µ–Ω 11, –¥–ª—è –≥—Ä—É–ø–ø—ã –±–æ–ª–µ–µ  220_000 —Ä–∞–≤–µ–Ω 13

In [146]:
money

debt             0     1   percent
money_group
2             3704   283  7.098069
0             2566   211  7.598127
1            13349  1239  8.493282

**–í—ã–≤–æ–¥** –õ—é–¥–∏—Å –¥–æ—Ö–æ–¥–æ–º –±–æ–ª–µ–µ 220 —Ç—ã—Å —Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç —á–∞—â–µ,—á–µ–º –æ—Å—Ç–∞–ª—å–Ω—ã–µ –≥—Ä—É–ø–ø—ã, –≥—Ä—É–ø–ø–∞ –¥–æ 85 —Ç—ã—Å –Ω–µ –æ—Ç–¥–∞—ë—Ç –∫—Ä–µ–¥–∏—Ç –≤ 10% —Å–ª—É—á–∞–µ–≤

- –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

### –°—Ç–æ–∏—Ç –≤—ã–¥–µ–ª–∏—Ç—å, —á—Ç–æ –ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –∏–º–µ–µ—Ç –ª—É—á—à—É—é –≤–æ–∑–≤—Ä–∞—â–∞–µ–º–æ—Å—Ç—å –∫—Ä–µ–¥–∏—Ç–∞, –∫–æ–≥–¥–∞ –∫–∞–∫ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –∏ –ø–æ–∫—É–ø–∫–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—è –∏–º–µ–µ—Ç –Ω–∞–∏—Ö—É–¥—à–∏–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏, –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –Ω–∞—Ö–æ–¥—è—Ç—Å—è –≤ –ø—Ä–∏–º–µ—Ä–Ω–æ —Ä–∞–≤–Ω–æ–º —Å–æ–æ—Ç–Ω–æ—à–Ω–∏–∏

In [147]:
purpose

debt             0    1   percent
purpose_stem
–∂–∏–ª           5265  395  6.978799
–Ω–µ–¥–≤–∏–∂–∏–º      4719  384  7.524985
—Å–≤–∞–¥—å–±        2126  184  7.965368
–æ–±—Ä–∞–∑–æ–≤–∞–Ω     3625  370  9.261577
–∞–≤—Ç–æ–º–æ–±–∏–ª     3884  400  9.337068

**–í—ã–≤–æ–¥** –ö—Ä–µ–¥–∏—Ç –Ω–∞ –∂–∏–ª—å—ë –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç—Å—è –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏ –≤—Å–µ–≥–¥–∞, –∫–æ–≥–¥–∞ –∫–∞–∫ –Ω–∞ –æ–±—É—á–µ–Ω–∏–∏ —Ä–µ–∂–µ –≤—Å–µ–≥–æ

## –®–∞–≥ 4. –û–±—â–∏–π –≤—ã–≤–æ–¥

### –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–≤ –¥–∞–Ω–Ω—ã–µ –º–æ–∂–Ω–æ —Å–∫–∞–∑–∞—Ç—å, —á—Ç–æ –∫—Ä–µ–¥–∏—Ç —Å—Ç–æ–∏—Ç –≤—ã–¥–∞–≤–∞—Ç—å –ª—é–¥—è–º(—Ä–∞–∑–≤–µ–¥—ë–Ω–Ω—ã–º)/—Å–µ–º—å—è–º –±–µ–∑ –¥–µ—Ç–µ–π, –Ω–∞ –ø–æ–∫—É–ø–∫—É –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –≤ —á–∞—Å—Ç–Ω–æ—Å—Ç–∏ –∏—Ö –ª–∏—á–Ω–æ–≥–æ –∂–∏–ª—å—è, –∫—Ä–∏—Ç–µ—Ä–∏–π –∑–∞—Ä–∞–±–æ—Ç–∫–∞ –Ω–µ –≤–ª–∏—è–µ—Ç –Ω–∞ –≤—ã–¥–∞—á—É –∫—Ä–µ–¥–∏—Ç–∞, —Ö–æ—Ç—è –±—ã–ª–æ –≤—ã—è–≤–ª–µ–Ω–æ, —á—Ç–æ –ª—é–¥–∏ —Å –±–æ–ª—å—à–∏–º –¥–æ—Ö–æ–¥–æ–º –≤—ã–ø–ª–∞—á–∏–≤–∞—é—Ç –∫—Ä–µ–¥–∏—Ç —á–∞—â–µ. –ö—Ä–µ–¥–∏—Ç –Ω–∞ –æ–±—É—á–µ–Ω–∏–µ –∏–º–µ–µ—Ç —Å–∞–º—É—é –Ω–∏–∑–∫—É—é –≤–æ–∑–≤—Ä–∞—â–∞–µ–º–æ—Å—Ç—å –∏–∑ –≤—Å–µ—Ö —Ü–µ–ª–µ–π –¥–ª—è –µ–≥–æ –ø–æ–ª—É—á–µ–Ω–∏—è

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–í—ã–≤–æ–¥—ã –ø–æ–Ω—è—Ç–Ω—ã –∏ –ª–æ–≥–∏—á–Ω—ã, –∞ —Å–∞–º–æ–µ –≥–ª–∞–≤–Ω–æ–µ –ø–æ–¥–∫—Ä–µ–ø–ª–µ–Ω—ã –≤—ã—è–≤–ª–µ–Ω–Ω—ã–º–∏ —Ñ–∞–∫—Ç–∞–º–∏.
    
–ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–æ –ø–æ–ª—É—á–∏–ª–æ—Å—å –ø–æ–ø—Ä–∞–≤–∏—Ç—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ üëç
       
–í —Ü–µ–ª–æ–º —Å–∞–º –ø—Ä–æ–µ–∫—Ç –≤—ã–ø–æ–ª–Ω–µ–Ω –Ω–∞ —Ö–æ—Ä–æ—à–µ–º —É—Ä–æ–≤–Ω–µ! –ù–∞ –ø—Ä–æ—Ç—è–∂–µ–Ω–∏–∏ –≤—Å–µ–π —Ä–∞–±–æ—Ç—ã —á—É–≤—Å—Ç–≤—É–µ—Ç—Å—è –≥–ª—É–±–∏–Ω–∞ –ø—Ä–æ—Ä–∞–±–æ—Ç–∫–∏ –∑–∞–¥–∞—á–∏ –∏ —ç—Ç–æ –±–µ–∑—É—Å–ª–æ–≤–Ω—ã–π –ø–ª—é—Å –¥–ª—è –Ω–∞—Å.
    
–•–æ—á–µ—Ç—Å—è –æ—Ç–º–µ—Ç–∏—Ç—å, —á—Ç–æ –º—ã —É–∑–Ω–∞–ª–∏ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –º–Ω–æ–≥–æ –Ω–æ–≤–æ–≥–æ –≤ —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ –∏ —Å —É–≤–µ—Ä–µ–Ω–Ω–æ—Å—Ç—å—é –º–æ–∂–µ–º –¥–≤–∏–≥–∞—Ç—å—Å—è –¥–∞–ª—å—à–µ. –ù–∞ —á—Ç–æ —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –æ–±—Ä–∞—â–∞—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ —Å—Ä–∞–∑—É —Å —Å–∞–º–æ–≥–æ —Å—Ç–∞—Ä—Ç–∞ —Ç–∞–∫ —Å–∫–∞–∑–∞—Ç—å, –∞ –∏–º–µ–Ω–Ω–æ –Ω–∞ –ø–æ–≤—Ç–æ—Ä—è–µ–º–æ—Å—Ç—å –∫–æ–¥–∞. –ï—Å–ª–∏ –Ω–∞—à–∏ –¥–µ–π—Å—Ç–≤–∏—è –Ω–∞—á–∏–Ω–∞—é—Ç –ø–æ–≤—Ç–æ—Ä—è—Ç—å—Å—è –±–æ–ª–µ–µ 2-—Ö —Ä–∞–∑, —Ç–æ –∏–º–µ–µ—Ç —Å–º—ã—Å–ª –∑–∞–¥—É–º–∞—Ç—å—Å—è –Ω–∞–¥: 
    
- –≤–Ω–µ–¥—Ä–µ–Ω–∏–µ–º —Ü–∏–∫–ª–∞ 
- –≤–Ω–µ–¥—Ä–µ–Ω–∏–µ–º —Ñ—É–Ω–∫—Ü–∏–∏
- –≤–Ω–µ–¥—Ä–µ–Ω–∏–µ–º –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏ —Ü–∏–∫–ª + —Ñ—É–Ω–∫—Ü–∏—è
    
–¢–∞–∫–∏–µ –≤–µ—â–∏ –º–æ–≥—É—Ç —Å—Ä–∞–∑—É –Ω–µ –±—Ä–æ—Å–∞—Ç—å—Å—è –≤ –≥–ª–∞–∑–∞, –Ω–æ –ø–æ—Å—Ç–µ–ø–µ–Ω–Ω–æ –º—ã –ø—Ä–∏–¥—ë–º –∫ —Ç–∞–∫–æ–º—É –ø–æ–¥—Ö–æ–¥—É üòä
    
–ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å —É—Å–ø–µ—à–Ω—ã–º –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º –ø—Ä–æ–µ–∫—Ç–∞ üòäüëç
    
–ò –∂–µ–ª–∞—é —É—Å–ø–µ—Ö–æ–≤ –≤ –Ω–æ–≤—ã—Ö —Ä–∞–±–æ—Ç–∞—Ö üòä
    
**[–æ–±—â–∏–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π]** –ù–µ —Å—Ç–æ–∏—Ç –∑–∞–±—ã–≤–∞—Ç—å –ø—Ä–æ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ —Å–≤–æ–µ–π —Ä–∞–±–æ—Ç—ã, —ç—Ç–æ –≤–∞–∂–Ω—ã–π —Ç–∞–∫–æ–π –∂–µ –≤–∞–∂–Ω—ã–π —ç—Ç–∞–ø. –†–µ–∫–æ–º–µ–Ω–¥—É—é ¬´–Ω–µ —Å—Ç–µ—Å–Ω—è—Ç—å—Å—è¬ª –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —è—á–µ–π–∫–∏ —Ç–∏–ø–∞ **markdown** —Ç–∞–º –≥–¥–µ –Ω–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –æ—Ç–æ–±—Ä–∞–∑–∏—Ç—å —Å–≤–æ–∏ —Ä–∞–∑–º—ã—à–ª–µ–Ω–∏—è, –≤ —Ç–æ–º —á–∏—Å–ª–µ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–π —Å—Ç–∏–ª–∏–∑–∞—Ü–∏–∏.
    
https://sqlbak.com/blog/jupyter-notebook-markdown-cheatsheet
    
    
</div>

## –ß–µ–∫-–ª–∏—Å—Ç –≥–æ—Ç–æ–≤–Ω–æ—Å—Ç–∏ –ø—Ä–æ–µ–∫—Ç–∞

–ü–æ—Å—Ç–∞–≤—å—Ç–µ 'x' –≤ –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–∞—Ö. –î–∞–ª–µ–µ –Ω–∞–∂–º–∏—Ç–µ Shift+Enter.

- [x]  –æ—Ç–∫—Ä—ã—Ç —Ñ–∞–π–ª;
- [x]  —Ñ–∞–π–ª –∏–∑—É—á–µ–Ω;
- [x]  –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [x]  –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã;
- [x]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –æ–±—ä—è—Å–Ω–µ–Ω–æ, –ø–æ –∫–∞–∫–æ–º—É –ø—Ä–∏–Ω—Ü–∏–ø—É –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏;
- [X]  –∑–∞–º–µ–Ω–µ–Ω –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π;
- [X]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –∏–∑–º–µ–Ω–µ–Ω–∏—è —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—á–µ–º—É;
- [X]  —É–¥–∞–ª–µ–Ω—ã –¥—É–±–ª–∏–∫–∞—Ç—ã;
- [X]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ–∏—Å–∫–∞ –∏ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤;
- [X]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [X]  –≤—ã–¥–µ–ª–µ–Ω—ã –ª–µ–º–º—ã –≤ –∑–Ω–∞—á–µ–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å —Ü–µ–ª—è–º–∏ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞;
- [x]  –æ–ø–∏—Å–∞–Ω –ø—Ä–æ—Ü–µ—Å—Å –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏;
- [x]  –¥–∞–Ω–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∏—Ä–æ–≤–∞–Ω—ã;
- [x]  –µ—Å—Ç—å –æ–±—ä—è—Å–Ω–µ–Ω–∏–µ –ø—Ä–∏–Ω—Ü–∏–ø–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?";
- [x]  –≤ –∫–∞–∂–¥–æ–º —ç—Ç–∞–ø–µ –µ—Å—Ç—å –≤—ã–≤–æ–¥—ã;
- [x]  –µ—Å—Ç—å –æ–±—â–∏–π –≤—ã–≤–æ–¥.